DATABASE_URL=postgresql://postgres:PASSWORD@HOST:5432/musfi
REDIS_URL=redis://default:PASSWORD@HOST:6379
JWT_SECRET=change-me
COOKIE_SECRET=change-me
STORE_CORS=https://musfi.basivo.in
ADMIN_CORS=https://api.musfi.basivo.in
AUTH_CORS=https://api.musfi.basivo.in,https://musfi.basivo.in
